= link_to "Post a website", new_weblink_path

- @weblinks.each do |weblink|
	%h2= link_to weblink.name, weblink
	%p= weblink.description
	%strong= weblink.category
	%p
		Submited by
		= weblink.user.fullname