.row.gap
	.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
		.panel.panel-primary
			.panel-heading
				.panel-title
					%h3= @weblink.name
			.panel-body
				%p= @weblink.description
				%br/
				= @weblink.category
				%br/
				%i.glyphicon.glyphicon-eye-open
				%a{:href => "http://"+@weblink.link }= @weblink.link
				%br/
				= @weblink.user.email
				%strong= @weblink.user.fullname
			.panel-footer
				- if user_signed_in?
					- if can? :update, @weblink
						= link_to "Edit", edit_weblink_path, class: "btn"
					- if can? :destroy, @weblink
						= link_to "Delete", @weblink, method: :delete, data: { confirm: "Are you sure"}, class: "btn btn-danger"
				-else
				=link_to " ", root_path, class: "btn glyphicon glyphicon-home pull-right" 